<!DOCTYPE html>
<html>
    <head>
        <title>Profil academique</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="css/uikit.min.css" />
        <link rel="stylesheet" href="css/style.css" />
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
    </head>
    <body>

        <!--navigtion bar-->
        <div class="uk-section-primary uk-preserve-color">
            <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">
                <nav class="uk-navbar-container uk-container" uk-navbar="boundary-align: true; align: center;">
                    <div class="">
                        <ul class="uk-navbar-nav">
                            <li>                               
                                <a href="profil.html" class="actives"><span  class="span-1" uk-icon="icon: user"></span>Profil</a>
                            </li>
                            <li>                                
                                <a href="profil_academique.html"> <span class="span-1" uk-icon="icon: table"></span>Academique</a>
                            </li>
                            <li>                        
                                <a href="lien_utile.html"><span class="span-1" uk-icon="icon: social"></span>Liens</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>           
        </div>

        <!--students notes-->
        <section class="section-notes">
            <div class="uk-background-primary">
                Profile Academique
                <div class="uk-margin-auto legend">
                    <a href="#modal-center" uk-toggle>Legende</a> 
                </div> 
            </div>
            <table class="uk-table uk-table-striped uk-text-center">
                <thead>
                    <tr>
                        <th>UE</th>
                        <th>MOY</th>
                        <th>COTE</th>
                        <th>DEC</th>
                        <th>SEM</th>
                        <th>AN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ant311</td>
                        <td>50.00</td>
                        <td>c</td>
                        <td>ca</td>
                        <td>1</td>
                        <td>2018</td>
                    </tr>
                    <tr>
                        <td>ant311</td>
                        <td>50.00</td>
                        <td>c</td>
                        <td>ca</td>
                        <td>1</td>
                        <td>2018</td>
                    </tr>
                    <tr>
                        <td>ant311</td>
                        <td>50.00</td>
                        <td>c</td>
                        <td>ca</td>
                        <td>1</td>
                        <td>2018</td>
                    </tr>
                    <tr>
                        <td>ant311</td>
                        <td>50.00</td>
                        <td>c</td>
                        <td>ca</td>
                        <td>1</td>
                        <td>2018</td>
                    </tr>
                    <tr>
                        <td>ant311</td>
                        <td>50.00</td>
                        <td>c</td>
                        <td>ca</td>
                        <td>1</td>
                        <td>2018</td>
                    </tr>
                    <tr>
                        <td>ant311</td>
                        <td>50.00</td>
                        <td>c</td>
                        <td>ca</td>
                        <td>1</td>
                        <td>2018</td>
                    </tr>
                    <tr>
                        <td>ant311</td>
                        <td>50.00</td>
                        <td>c</td>
                        <td>ca</td>
                        <td>1</td>
                        <td>2018</td>
                    </tr>
                    <tr>
                        <td>ant311</td>
                        <td>50.00</td>
                        <td>c</td>
                        <td>ca</td>
                        <td>1</td>
                        <td>2018</td>
                    </tr>
                    <tr>
                        <td>ant311</td>
                        <td>50.00</td>
                        <td>c</td>
                        <td>ca</td>
                        <td>1</td>
                        <td>2018</td>
                    </tr>
                </tbody>
            </table>
        </section>  

        <div id="modal-center" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <ul class="uk-list uk-list-bullet">
                    <p>
                        <li>UE = Unite d'Enseignment</li>
                        <li>MOY = Moyenne sur 100 (CC+SN)</li>
                        <li>COTE = Notation en lettre</li>
                        <li>DEC = Decision</li>
                        <li>SEM = Semestre d'obtention de la note</li>
                        <li>AN= Annee</li>
                    </p>
                </ul>
            </div>
        </div>
    </body>
</html>

